.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Example/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.build-*
/Benchmarks/.build
/Example/.build
Example/Package.resolved
TODO.md
Example/Example.xcodeproj/project.xcworkspace
Example/Example.xcodeproj/xcshareddata

__Snapshots__
Example/ReferenceImages/**/*.png

.claude/*
!.claude/commands/
.docs
gh-pages
.swift_pd_guess
.claude/commands/guess_filename.md
/.augments