PRODUCT_NAME = $(TARGET_NAME)_$(OPENSWIFTUI_TARGET_BUNDLE_ID)
INFOPLIST_KEY_CFBundleDisplayName = $(TARGET_NAME) ($(OPENSWIFTUI_TARGET_BUNDLE_ID))

IPHONEOS_DEPLOYMENT_TARGET = 18.0
MACOSX_DEPLOYMENT_TARGET = 15.0

SWIFT_VERSION = 5.0

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_OPENSWIFTUI) $(GCC_PREPROCESSOR_DEFINITIONS_DEBUG)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_OPENSWIFTUI) $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_DEBUG)
OTHER_SWIFT_FLAGS = $(inherited) $(OPENSWIFTUI_AVAILABILITY_MACRO)
