name: iOS 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ios_test:
    name: Execute tests on iOS
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]
        xcode-version: [16.0]
        release: [2021, 2024]
        ios-version: ["18.0"]
        include:
          - ios-version: "18.0"
            ios-simulator-name: "iPhone 16 Pro"
    runs-on: ${{ matrix.os }}
    env:
      OPENSWIFTUI_WERROR: 1
      OPENGRAPH_ATTRIBUTEGRAPH: 1
      OPENSWIFTUI_COMPATIBILITY_TEST: 0
      OPENSWIFTUI_SWIFT_LOG: 0
      OPENSWIFTUI_SWIFT_CRYPTO: 0
      OPENSWIFTUI_TARGET_RELEASE: ${{ matrix.release }}
      OPENSWIFTUI_SUPPORT_MULTI_PRODUCTS: 0
      OPENSWIFTUI_USE_LOCAL_DEPS: 1
      OPENGRAPH_USE_LOCAL_DEPS: 1
      OPENGRAPH_TARGET_RELEASE: ${{ matrix.release }}
      DARWIN_PRIVATE_FRAMEWORKS_TARGET_RELEASE: ${{ matrix.release }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Swift version
        run: swift --version
      - name: Set up build environment
        run: Scripts/CI/darwin_setup_build.sh
        shell: bash
      - name: Build test target in debug mode
        run: |
          xcodebuild build \
            -scheme OpenSwiftUI \
            -configuration Debug \
            -destination "platform=iOS Simulator,OS=${{ matrix.ios-version }},name=${{ matrix.ios-simulator-name }}" \
            -skipMacroValidation \
            -skipPackagePluginValidation
      - name: Run test target in debug mode
        run: |
          xcodebuild test \
            -scheme OpenSwiftUI \
            -configuration Debug \
            -destination "platform=iOS Simulator,OS=${{ matrix.ios-version }},name=${{ matrix.ios-simulator-name }}" \
            -skipMacroValidation \
            -skipPackagePluginValidation
