name: macOS 

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos_test:
    name: Execute tests on macOS
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]
        xcode-version: ["16.4"]
        release: [2024]
    runs-on: ${{ matrix.os }}
    env:
      OPENSWIFTUI_WERROR: 1
      OPENSWIFTUI_ATTRIBUTEGRAPH: 1
      OPENSWIFTUI_COMPATIBILITY_TEST: 0
      OPENSWIFTUI_SWIFT_LOG: 0
      OPENSWIFTUI_SWIFT_CRYPTO: 0
      OPENSWIFTUI_TARGET_RELEASE: ${{ matrix.release }}
      OPENSWIFTUI_USE_LOCAL_DEPS: 1
      OPENSWIFTUI_LINK_TESTING: 1
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Xcode
        uses: ./.github/actions/setup-xcode
        with:
          xcode-version: ${{ matrix.xcode-version }}
      - name: Set up build environment
        run: Scripts/CI/darwin_setup_build.sh
        shell: bash
      - name: Build and run tests in debug mode with coverage
        run: |
          swift test \
            -c debug \
            --filter OpenSwiftUITests \
            --filter OpenSwiftUICoreTests \
            --enable-code-coverage \
            --build-path .build-test-debug
          xcrun llvm-cov show \
            -instr-profile=.build-test-debug/debug/codecov/default.profdata \
            .build-test-debug/debug/OpenSwiftUIPackageTests.xctest/Contents/MacOS/OpenSwiftUIPackageTests \
            > coverage.txt
      - name: Build and run tests in release mode
        run: |
          swift test \
            -c release \
            --filter OpenSwiftUITests \
            --filter OpenSwiftUICoreTests \
            --enable-code-coverage \
            --build-path .build-test-release
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
